.group-menu {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 10px;
    justify-content: center;
    .item{
        display: flex;
        flex-wrap: nowrap;
        div{
            position: relative;
            background: rgba($color: #000000, $alpha: .25);
            border-radius: 5px;
            margin: 0 5px;
            height: 85px;
            width: 85px;
            padding: 10px;
            text-decoration: none;
            color: #fafafa;
            p{
                position: absolute;
                bottom: 5px;
                font-size: .76rem;
                margin: 0;
            }
        }
    }
}

@media(min-width: 768px) {
    .group-menu {
        .item{
            div{
                margin: 0 10px;
                height: 90px;
                width: 120px;
                padding: 15px;
                text-decoration: none;
                color: #fafafa;
                p{
                    position: absolute;
                    bottom: 5px;
                    font-size: 1rem;
                    margin: 0;
                }
            }
        }
    }
}