<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-title>Header</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="danger">
  <ion-router-outlet></ion-router-outlet>
</ion-content>
<ion-footer mode="ios" class="ion-no-border">
  <ion-toolbar color="danger">
    <div class="group-menu">
      <nav class="item">
        <div>
          <ion-icon name="bar-chart-outline"></ion-icon>
          <p>Graficos y formulas</p>
        </div>
        <div>
          <ion-icon name="bar-chart-outline"></ion-icon>
          <p>Graficos y formulas</p>
        </div>
        <div>
          <ion-icon name="bar-chart-outline"></ion-icon>
          <p>Graficos y formulas</p>
        </div>
        <div>
          <ion-icon name="bar-chart-outline"></ion-icon>
          <p>Graficos y formulas</p>
        </div>
        <div>
          <ion-icon name="bar-chart-outline"></ion-icon>
          <p>Graficos y formulas</p>
        </div>
        <div>
          <ion-icon name="bar-chart-outline"></ion-icon>
          <p>Graficos y formulas</p>
        </div>
        <div>
          <ion-icon name="bar-chart-outline"></ion-icon>
          <p>Graficos y formulas</p>
        </div>
      </nav>
    </div>
  </ion-toolbar>
</ion-footer>
